{{!< default}}

{{#post}}

<main class="content" role="main">

	    <article class="{{post_class}}">

				<div class="wrapper-o">
					<div class="wrapper">

						<header class="post-header">
							<div class="inner">
								<h1 class="post-title">{{{title}}}</h1>
							</div>
						</header>

						<div class="inner">
							<section class="post-content">
								{{content}}
							</section>
						</div>

				  
	
				      {{#if @labs.subscribers}}
      <section class="subcribe">
        <h3 class="subscribe-title">Subscribe to {{@blog.title}}</h3>
        <p class="subscribe-text">Get the latest posts delivered right to your inbox.</p>
        {{subscribe_form placeholder="Your email address"}}
        <span class="subscribe-rss">or subscribe <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/">via RSS</a> with Feedly!</span>
      </section>
      {{/if}}
        {{/post}}
					</div>
				</div>

	    </article>

</main>
